.Header {
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    height: 100px;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    transition: background-color 200ms ease-in;
    width: 100%;
    z-index: 100;
}

.Sticky {
    background-color: #000;
}

.logo {
    display: block;
    width: 250px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}