.Header {
    background: #000;
    height: 60px;
    padding: 20px 50px;
    position: relative;
}

.logo {
    display: block;
    width: 250px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}